/* REBOOT */
*,
::before,
::after {
  box-sizing: border-box;
}

:root {
  /* FONTS */
  --font-size-root: 62.5%;
  --font-size-large: 18px;
  --font-size-base: 16px;
  --font-size-small: 14px;
  --body-font-family-sans-serif: "Roboto", system-ui, -apple-system, "Segoe UI",
    "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --body-font-family: var(--body-font-family-sans-serif);
  --body-font-weight: 400;
  --body-line-height: 1.5;

  /* COLORS */
  --primary-50: #eff7ef;
  --primary-100: #cee7cd;
  --primary-200: #b6dbb5;
  --primary-300: #95cb94;
  --primary-400: #81c17f;
  --primary-500: #61b15f;
  --primary-600: #58a156;
  --primary-700: #457e43;
  --primary-800: #356134;
  --primary-900: #294a28;

  --secondary-50: #f9f9f9;
  --secondary-100: #ececec;
  --secondary-200: #e3e3e3;
  --secondary-300: #d6d6d6;
  --secondary-400: #cecece;
  --secondary-500: #c2c2c2;
  --secondary-600: #b1b1b1;
  --secondary-700: #8a8a8a;
  --secondary-800: #6b6b6b;
  --secondary-900: #515151;

  --mzl-yellow-900: rgb(249, 166, 32);
  --mzl-yellow-900-shadow: rgba(249, 166, 32, 0.25);

  --mzl-body-color: var(var(--mzl-gray-900));
  --primary: var(--mzl-green-900);
  --warning: var(--mzl-yellow-900);
  --danger: var(--mzl-red-700);
}

html {
  font-size: var(--font-size-root);
  font-family: var(--body-font-family);
}

body {
  margin: 0;
  font-family: var(--body-font-family);
  font-weight: var(--body-font-weight);
  line-height: var(--body-line-height);
  font-size: var(--font-size-base);
  color: var(--mzl-body-color);
  background-color: var(--mzl-body-bg-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.8rem;
}

p {
  margin-bottom: 1.6rem;
}

hr {
  margin: 1.6rem 0;
  color: inherit;
  border: 0;
  border-top: 1px solid;
  opacity: 0.25;
}

ul,
ol,
dl {
  margin-top: 0;
  margin-bottom: 1.6rem;
}

ul {
  list-style: none;
}
ul.inline {
  display: flex;
  align-items: center;
  padding: 0.8rem;
}

ul,
ol {
  padding-left: 0;
}

ul ul {
  padding-left: 3.2rem;
}

/* Nested List*/
li > ul,
ol,
dl {
  margin-bottom: 0;
}

dd {
  margin-left: 0;
  margin-bottom: 0.8rem;
}

dt {
  font-weight: 700;
}

kbd {
  background-color: var(--mzl-body-color);
  padding: 0.3rem 0.5rem;
  color: var(--mzl-body-bg-color);
  border-radius: 0.4rem;
}

/* MARGIN */

.m-1 {
  margin: 0.8rem;
}

.m-2 {
  margin: 1.6rem;
}

.m-3 {
  margin: 2.4rem;
}

.m-4 {
  margin: 3.2rem;
}

.m-5 {
  margin: 4rem;
}

.m-6 {
  margin: 4.8rem;
}

.m-7 {
  margin: 5.6rem;
}

.m-8 {
  margin: 6.4rem;
}

.m-9 {
  margin: 7.2rem;
}

.m-10 {
  margin: 8rem;
}

.mt-1 {
  margin-top: 0.8rem;
}

.mt-2 {
  margin-top: 1.6rem;
}

.mt-3 {
  margin-top: 2.4rem;
}

.mt-4 {
  margin-top: 3.2rem;
}

.mt-5 {
  margin-top: 4rem;
}

.mt-6 {
  margin-top: 4.8rem;
}

.mt-7 {
  margin-top: 5.6rem;
}

.mt-8 {
  margin-top: 6.4rem;
}

.mt-9 {
  margin-top: 7.2rem;
}

.mt-10 {
  margin-top: 8rem;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 0.8rem;
}

.mb-2 {
  margin-bottom: 1.6rem;
}

.mb-3 {
  margin-bottom: 2.4rem;
}

.mb-4 {
  margin-bottom: 3.2rem;
}

.mb-5 {
  margin-bottom: 4rem;
}

.mb-6 {
  margin-bottom: 4.8rem;
}

.mb-7 {
  margin-bottom: 5.6rem;
}

.mb-8 {
  margin-bottom: 6.4rem;
}

.mb-9 {
  margin-bottom: 7.2rem;
}

.mb-10 {
  margin-bottom: 8rem;
}

.mx-1 {
  margin: 0 0.8rem;
}

.mx-2 {
  margin: 0 1.6rem;
}

.mx-3 {
  margin: 0 2.4rem;
}

.mx-4 {
  margin: 0 3.2rem;
}

.mx-5 {
  margin: 0 4rem;
}

.mx-6 {
  margin: 0 4.8rem;
}

.mx-7 {
  margin: 0 5.6rem;
}

.mx-8 {
  margin: 0 6.4rem;
}

.mx-9 {
  margin: 0 7.2rem;
}

.mx-10 {
  margin: 0 8rem;
}

.my-1 {
  margin: 0.8rem 0;
}

.my-2 {
  margin: 1.6rem 0;
}

.my-3 {
  margin: 2.4rem 0;
}

.my-4 {
  margin: 3.2rem 0;
}

.my-5 {
  margin: 4rem 0;
}

.my-6 {
  margin: 4.8rem 0;
}

.my-7 {
  margin: 5.6rem 0;
}

.my-8 {
  margin: 6.4rem 0;
}

.my-9 {
  margin: 7.2rem 0;
}

.my-10 {
  margin: 8rem 0;
}

/* PADDING */

.p-1 {
  padding: 0.8rem;
}

.p-2 {
  padding: 1.6rem;
}

.p-3 {
  padding: 2.4rem;
}

.p-4 {
  padding: 3.2rem;
}

.p-5 {
  padding: 4rem;
}

.p-6 {
  padding: 4.8rem;
}

.p-7 {
  padding: 5.6rem;
}

.p-8 {
  padding: 6.4rem;
}

.p-9 {
  padding: 7.2rem;
}

.p-10 {
  padding: 8rem;
}

.pt-1 {
  padding-top: 0.8rem;
}

.pt-2 {
  padding-top: 1.6rem;
}

.pt-3 {
  padding-top: 2.4rem;
}

.pt-4 {
  padding-top: 3.2rem;
}

.pt-5 {
  padding-top: 4rem;
}

.pt-6 {
  padding-top: 4.8rem;
}

.pt-7 {
  padding-top: 5.6rem;
}

.pt-8 {
  padding-top: 6.4rem;
}

.pt-9 {
  padding-top: 7.2rem;
}

.pt-10 {
  padding-top: 8rem;
}

.pb-1 {
  padding-bottom: 0.8rem;
}

.pb-2 {
  padding-bottom: 1.6rem;
}

.pb-3 {
  padding-bottom: 2.4rem;
}

.pb-4 {
  padding-bottom: 3.2rem;
}

.pb-5 {
  padding-bottom: 4rem;
}

.pb-6 {
  padding-bottom: 4.8rem;
}

.pb-7 {
  padding-bottom: 5.6rem;
}

.pb-8 {
  padding-bottom: 6.4rem;
}

.pb-9 {
  padding-bottom: 7.2rem;
}

.pb-10 {
  padding-bottom: 8rem;
}

.px-1 {
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}

.px-2 {
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}

.px-3 {
  padding-left: 2.4rem;
  padding-right: 2.4rem;
}

.px-4 {
  padding-left: 3.2rem;
  padding-right: 3.2rem;
}

.px-5 {
  padding-left: 4rem;
  padding-right: 4rem;
}

.px-6 {
  padding-left: 4.8rem;
  padding-right: 4.8rem;
}

.px-7 {
  padding-left: 5.6rem;
  padding-right: 5.6rem;
}

.px-8 {
  padding-left: 6.4rem;
  padding-right: 6.4rem;
}

.px-9 {
  padding-left: 7.2rem;
  padding-right: 7.2rem;
}

.px-10 {
  padding-left: 8rem;
  padding-right: 8rem;
}

.py-1 {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

.py-2 {
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
}

.py-3 {
  padding-top: 2.4rem;
  padding-bottom: 2.4rem;
}

.py-4 {
  padding-top: 3.2rem;
  padding-bottom: 3.2rem;
}

.py-5 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.py-6 {
  padding-top: 4.8rem;
  padding-bottom: 4.8rem;
}

.py-7 {
  padding-top: 5.6rem;
  padding-bottom: 5.6rem;
}

.py-8 {
  padding-top: 6.4rem;
  padding-bottom: 6.4rem;
}

.py-9 {
  padding-top: 7.2rem;
  padding-bottom: 7.2rem;
}

.py-10 {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

/* FORMS */

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

label {
  display: inline-block;
  color: var(--mzl-body-color);
}

input,
select,
textarea,
button {
  margin: 0;
  line-height: inherit;
  font-family: inherit;
}

button {
  cursor: pointer;
  background-color: var(--primary-500);
  color: white;
  font-weight: 600;
  font-size: var(--font-size-base);
  padding: 0.6rem 1.6rem;
  border: 0;
  border-radius: 0.2rem;
}

button.secondary {
  background-color: var(--secondary-500);
  color: var(--secondary-900);
}

button:hover {
  background-color: var(--primary-400);
}

.buttonGroup {
  display: flex;
  gap: 0.2rem;
}

textarea {
  resize: vertical;
}

*[role="button"] {
  cursor: pointer;
}

address {
  font-style: normal;
  line-height: inherit;
  margin-bottom: 1.6rem;
}

blockquote {
  margin: 0 0 1.6rem;
  font-size: calc(1.6rem * 1.25);
}

summary {
  cursor: pointer;
}

img.img-fluid {
  max-width: 100%;
  height: auto;
}

/* TYPOGRAPHY */

.muted {
  color: rgba(42, 42, 42, 0.75);
}

p.text-start {
  text-align: start;
}

p.text-center {
  text-align: center;
}

p.text-end {
  text-align: end;
}

h1 {
  font-size: calc(var(--font-size-base) * 2.5);
}

h2 {
  font-size: calc(var(--font-size-base) * 2);
}

h3 {
  font-size: calc(var(--font-size-base) * 1.75);
}

h4 {
  font-size: calc(var(--font-size-base) * 1.5);
}

h5 {
  font-size: calc(var(--font-size-base) * 1.25);
}

h6 {
  font-size: var(--font-size-base);
}

h1.display-1 {
  font-size: 5rem;
}
h1.display-2 {
  font-size: 4.5rem;
}
h1.display-3 {
  font-size: 4rem;
}
h1.display-4 {
  font-size: 3.5rem;
}
h1.display-5 {
  font-size: 3rem;
}
h1.display-6 {
  font-size: 2.5rem;
}

h1.display-1,
.display-2,
.display-3,
.display-4,
.display-5,
.display-6 {
  font-weight: 300;
}

abbr {
  cursor: help;
}

/* BUTTONS */

.btn {
  padding: 0.6rem 1.2rem;
  font-family: inherit;
  font-size: var(--font-size-base);
  line-height: var(--body-line-height);
  background-color: var(--primary-500);
  border: 1px solid var(--primary-500);
  color: var(--mzl-white);
}

.outlined {
  background-color: var(--mzl-body-bg-color);
  border: 1px solid var(--primary-500);
  color: var(--primary-500);
}

.btnSm {
  padding: 0.4rem 0.8rem;
  font-family: inherit;
  font-size: var(--font-size-small);
}

.btnLg {
  padding: 0.8rem 1.6rem;
  font-family: inherit;
  font-size: var(--font-size-small);
}

.btn:focus {
  opacity: 0.25;
}
